<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	<meta name="author" content="{{ site.author.name }}">

	<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all">
	{% for style in page.extra_styles %}
	<link href="{{ style }}" rel="stylesheet" type="text/css">
	{% endfor %}
</head>
<body>
<div class="container">
	<div class="content">
	{% unless page.disablenav %}
	<div class="navbar">{% include nav.html %}<br style="clear: both"></div>
	{% endunless %}
	{{ content }}</div>
	<footer><p>&copy; {{ site.author.name }} 2012</p></footer>
</div>
{% include analytics.html %}
</body>
</html>
